@{
    Layout = "_Layout";
}

<style>
    body {
        background-color: #f8f9fa; /* Fondo claro para una experiencia limpia */
        font-family: Arial, sans-serif;
    }

    .logo {
        max-width: 300px; /* Tamaño máximo para pantallas grandes */
        width: 100%; /* Asegura que la imagen se ajuste al 100% del contenedor */
        height: auto;
    }

    .card {
        width: 100%;
        max-width: 45rem; /* Aumentamos el tamaño máximo de la tarjeta */
        padding: 2rem;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

 /*    video {
        width: 100%;
        height: auto;
        border-radius: 8px;
    } */
    .containerVideo {
        position: relative;
        display: inline-block;
    }

    video, canvas {
        display: block;
        width: 100%;
        height: auto;
        transform: scaleX(-1);
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }


    .progress {
        height: 25px;
        border-radius: 12px;
        overflow: hidden;
    }

    .progress-bar {
        font-size: 0.9rem;
        line-height: 25px;
    }

    .form-check-label {
        font-size: 1.2rem;
    }

    .form-select {
        font-size: 1.1rem;
        padding: 0.6rem;
        border-radius: 8px;
        border: 1px solid #ccc;
    }

    button {
        font-size: 1.2rem;
        padding: 0.75rem;
        border-radius: 8px;
    }

    .info-text p {
        font-size: 1.1rem;
        margin: 0.5rem 0;
    }

    .container {
        max-width: 1000px; /* Aumentar el ancho máximo del contenedor */
    }

    /* Personaliza los estilos de la descripción secundaria */
    .selectpicker option[data-content] {
        display: block;
    }

    .selectpicker .bs-searchbox input {
        padding-left: 2em;
    }

    .text-muted {
        font-size: 0.9rem;
    }

    .select-option {
        /*Quitar la altura fija a la plantilla de mdb.*/
        height: unset !important;
        min-height: 38px;
        white-space: normal !important;
        text-overflow: unset !important;
        overflow: unset !important;
    }

    .select-option-text {
        padding-top: 3px !important;
    }

    .select-option-secondary-text {
        padding-bottom: 6px !important;
/*         color: #3b71ca90 !important;
 */    }

    #loadingScreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99999 !important;
    }
</style>

<body class="bg-light">
    <div id="loadingScreen">
            <div class="text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
                <h3 class="mt-3">Cargando, por favor espera...</h3>
            </div>
    </div>

    <div id="divContenedorWebNoSoportado"></div>

    <div id="divContenedores">
        <div id="divContenedorGps" class="container py-4" style="display: none">
            <div class="card shadow-lg p-3 mb-4 bg-body rounded border border-warning mx-auto" style="max-width: 600px; width: 100%;">
                <div class="card-body text-center py-3">
                    <p>
                        <i class="fas fa-7x fa-map-marker-alt text-warning"></i>
                    </p>
                    <h2 class="mb-3 text-warning">Activa los permisos de la Ubicación</h2>
                    <p style="font-size: 18px;">
                        Para continuar, <strong>por favor permite el acceso a la ubicación.</strong>
                    </p>
                </div>
                <div class="container d-flex align-items-center justify-content-center py-3">
                    <button id="recargarButtonGps" class="btn btn-warning">Permitir Ubicación</button>
                </div>
            </div>
        </div>


        <div id="divContenedorCamaraContainer"></div>

        <div id="controlAsistenciaContainer">

            

        </div>

        <div id="divContenedorErrorGeocercaContainer"></div>
    </div>

   
    <div id="urlSeleccionarDatos" data-action-url="@Url.Action("Control_Asistencia_SeleccionarDatos", "ControlAsistencia")"></div>
    <div id="urlGuardarFoto" data-action-url="@Url.Action("Control_Asistencia_ServidorFTP_GuardarFoto", "ControlAsistencia")"></div>
    <div id="urlValidarGeocerca" data-action-url="@Url.Action("Control_Asistencia_ValidarGeocerca", "ControlAsistencia")"></div>
    <div id="urlCargarContenedorCamara" data-action-url="@Url.Action("CargarContenedorCamara", "ControlAsistencia")"></div>
    <div id="urlCargarControlAsistencia" data-action-url="@Url.Action("CargarControlAsistencia", "ControlAsistencia")"></div>
    <div id="urlDetectarBrave" data-action-url="@Url.Action("SetBraveDetection", "ControlAsistencia")"></div>
    <div id="urlObtenerFotoFtp" data-action-url="@Url.Action("Control_Asistencia_ObtenerFotoFTP", "ControlAsistencia")"></div>
    <!-- Script -->
    @section Scripts {
        <script src="~/js/ControlAsistencia.js" asp-append-version="true"></script>
    }
</body>

